# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Database
*.db

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Flask
instance/

# CSV backups (optional)
*.bak
